.control {
  border: 1px solid #ccc;
  padding: 0.8rem 2rem;
  border: 1px solid #474747;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  margin-right: 1rem;
}
