.container {
  display : flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  row-gap : 10px;
}

.loginForm {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}