.chats {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display : flex;
  flex-direction: column;
  align-items: stretch;
  row-gap : 10px;
}
.header {
  font-size: x-large;
}