.messages {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  display : flex;
  flex-direction: column;
  align-items: stretch;
  row-gap : 10px;
}
.header {
  font-size: x-large;
  margin-left: 1px;
  margin-right: auto;
}
.container {
  display : flex;
  flex-direction: row;
  margin : 0px 0px 0px 0px;
  padding : 0px 0px 0px 0px;
}
.close {
  transition: all 0.3s;
  margin-left: auto;
  padding: 0.4rem;
  cursor: pointer;
  border: none;
  background: #fff;
}
.close:hover {
  background: #e7f4ff;
}

.content {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display : flex;
  flex-direction: column;
  align-items: stretch;
  border: 0.13rem solid rgb(218, 218, 218);
}
